@property --conic-grad-start {
	syntax: "<angle>";
	inherits: false;
	initial-value: 0deg;
}

@property --arc-width {
	syntax: "<angle>";
	inherits: false;
	initial-value: 0deg;
}

@property --bg-color {
	syntax: "<color>";
	inherits: true;
	initial-value: white;
}

@property --fg-color {
	syntax: "<color>";
	inherits: true;
	initial-value: white;
}

@property --icon-bg-color {
	syntax: "<color>";
	inherits: false;
	initial-value: white;
}

@property --icon-fg-color {
	syntax: "<color>";
	inherits: false;
	initial-value: white;
}

@property --border-color {
	syntax: "<color>";
	inherits: false;
	initial-value: white;
}

@keyframes rotate {
	from {
		--conic-grad-start: 0deg;
	}
	to {
		--conic-grad-start: 360deg;
	}
}

@layer components {
	.button {
		--bg-color: var(--color-white);
		--fg-color: var(--color-black);

		position: relative;

		display: flex;
		align-items: center;
		gap: calc(var(--spacing) * 2);

		color: var(--bg-color);
		border-radius: 100vw;
		background-color: color-mix(
			in oklab,
			var(--color-white) 30%,
			transparent
		);
		outline: none;

		> .icon {
			--icon-bg-color: var(--bg-color);
			--icon-fg-color: var(--fg-color);

			--border: calc(var(--spacing) * 1);
			--border-color: var(--fg-color);

			--conic-grad-start: 0deg;
			--arc-width: 0deg;
			--arc-end: 360deg;

			position: relative;
			padding: calc(var(--spacing) * 4 - var(--border));
			color: var(--icon-fg-color);

			border-radius: 100vw;
			border: var(--border) solid transparent;
			background:
				padding-box
					radial-gradient(var(--icon-bg-color), var(--icon-bg-color)),
				border-box
					conic-gradient(
						from var(--conic-grad-start),
						transparent calc(var(--arc-end) - var(--arc-width)),
						var(--border-color)
							calc(var(--arc-end) - var(--arc-width)),
						var(--border-color) calc(var(--arc-end)),
						transparent calc(var(--arc-end))
					),
				border-box
					radial-gradient(var(--icon-bg-color), var(--icon-bg-color));

			transition:
				--arc-width 0.25s ease-in-out,
				--icon-bg-color 0.25s ease-in-out,
				--icon-fg-color 0.25s ease-in-out,
				--border-color 0.25s ease-in-out,
				all 0.25s ease-in-out;
		}

		&[data-invert="true"] > .icon {
			--icon-bg-color: var(--fg-color);
			--icon-fg-color: var(--bg-color);
		}

		&:focus-visible > .icon,
		&:hover > .icon {
			--icon-bg-color: var(--fg-color);
			--icon-fg-color: var(--bg-color);
		}

		&[data-invert="true"]:focus-visible > .icon,
		&[data-invert="true"]:hover > .icon {
			--icon-bg-color: var(--bg-color);
			--icon-fg-color: var(--fg-color);
		}

		&[data-status="active"] {
			--bg-color: var(--color-green-600);
			--fg-color: var(--color-white);
		}

		&:disabled > .icon {
			--icon-fg-color: var(--color-gray-800);
			--icon-bg-color: var(--color-gray-400);
		}

		&[data-theme="green"] {
			--fg-color: var(--color-green-600);
			--bg-color: var(--color-white);
		}

		&[data-theme="red"] {
			--fg-color: var(--color-red-600);
			--bg-color: var(--color-white);
		}

		&[data-border="true"] > .icon {
			--arc-width: 75deg;
		}

		&[data-animate="true"] > .icon {
			animation: rotate 1s linear infinite forwards;
		}

		&[data-error="true"] > .icon {
			--border-color: var(--color-red-700);
			--arc-width: 360deg;
		}
	}
}
